<!DOCTYPE html>
<html lang="zh-CN">
<head>
 <title>网络验证系统</title>
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="/Public/css/a100e2e6.app.css">
    <link rel="stylesheet" href="/Public/css/common.css">
    <script src="/Public/js/jquery-1.9.1.min.js"></script>
    <script src="/Public/js/bootstrap.min.js"></script>
    <script src="/Public/js/common.js"></script>
</head>
<style>
    img.qrcode {
        width:200px;
    }
    span.description {
        width: 100%;
        font-size: 18px;
        display: block;
        padding-top: 30px;
    }
</style>
<body>

<include file="Application/Home/View/Common/Navigation.html"/>
<include file="Application/Home/View/Common/Sidebar.html"/>

<div class="right-container">
    <img class="qrcode" src="/Public/image/qrcode.jpg" alt="支付宝二维码">
    <span class="description">打赏后即可开通VIP
    <br>打赏时记得在备注里面填写你的后台用户名 1小时内即可开通VIP授权
    <br>如果有任何问题联系QQ2497732985
    <br>
    <br>Vip说明：
    <br>无应用创建限制
    <br>单个应用可生成5000个未使用卡密
</div>
<script type="text/javascript" color="255,0,255" opacity='0.7' zIndex="-2" count="99" src="/Public/js/a.js"></script>

</body>

</html>