<nav class="lc-bd ng-scope">
    <nav class="dashboard-subnav navbar  navbar-static-top" style="background-color: #91e0ff;" role="navigation">
        <div class="container-fluid">
            <ul>
                <li class="logo"><a href="/"  target="_blank"><img src="/Public/image/logo.png" alt="进入官网"></a></li>
                <li class="dropdown" {$username}>
                    <a role="button" class="dropdown-toggle user-name" data-toggle="dropdown">
                        <span class="user-name-text">
                            {$username}
                            <span class="caret"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="/Home/modifypassword">修改密码</a>
                        </li>
                        <li>
                            <a href="/Home/index/logout">退出登录</a>
                        </li>
                    </ul>
                </li>
                <li class="browser_tip">（ 联系ellieot@qq.com ）</li>
            </ul>
        </div>
    </nav>
</nav>